/*h1 a {
    color: #ff7b00;
    font-family: 'Lobster';
}
body {
    padding-left: 540px;
} /*
/*<div id="slider">
<div class="slides">

<!-- First slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

<!-- Second slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

<!-- Third slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

<!-- Fourth slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

</div>
</div>
*/